.ProfessionalInfo {
    padding: 15px;
    font-size: 14px;
    @media only screen and (min-width: 1025px) {
        font-size: 16px;
        padding: 0 20px 0 20px;
    }
    width: 100%;
    margin-bottom: 200px;
    .header {
        display: flex;
        align-items: center;

        .heading {
            color: #eeeeee;
            font-size: 1em;
            font-weight: 700;
        }
        button {
            display: flex;
            align-items: center;
            font-weight: 500;
            color: white;
            background-color: #f3912e;
            border-radius: 5px;
            padding: 4px 25px;
            font-size: 0.9em;
            border: none;

            &:disabled {
                border: 1px solid #626262;
                color: #626262;
                cursor: wait;
            }

            &:hover {
                background-color: #f3902e9d;
                cursor: pointer;
            }
        }
    }

    .formWrapper {
        margin-top: 10px;
        .inputComponent {
            margin: 0.5em 0;
            border-radius: 10px;
            .label {
                padding: 5px 10px;
                @media screen and (max-width: 768px) {
                    padding: 5px;
                }
            }
            .space {
                padding: 0 10px;
                position: relative;

                @media screen and (max-width: 768px) {
                    padding: 0;
                }

                .options{
                    position: absolute;
                    top: 50px;
                    background-color: #262c36;
                    border-radius: 10px;
                    padding: 10px;
                    width: calc(100% - 20px);

                    .option{
                        padding: 5px;
                        &:hover{
                            background-color: #f3902e34;
                            border-radius: 5px;
                        }
                    }
                }
                .inputwrapper {
                    background-color: #262c36;
                    border-radius: 10px;
                    position: relative;
                    .input {
                        width: 100% !important;
                        margin: 0;
                        border: none;
                        color: #ffffff;
                        border-radius: 10px;
                        padding: 10px;
                        background-color: #262c36;
                        font-size: 0.9em;
                        resize: none;

                        &:focus {
                            border: none;
                            outline: none;
                        }

                        &::placeholder {
                            color: #626262;
                            font-weight: 600;
                        }

                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                    }
                }

                .error {
                    color: red;
                }
            }
        }
        .hr {
            border-bottom: 1px solid #2d3035;
            margin: 10px 0;
        }
    }
}